html, body{
  font-family: Helvetica;
  font-size: 1rem;
  color: black;
  margin: 0;
  font-size: 18px;
  display: block;
  line-height: 1.4rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.main-banner{
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.bannerbox{
  background-color: cadetblue;
  display: flex;
  top: 2rem;
  position: relative;
  justify-content: space-between;
  padding: 1rem 0;
}
.bannerlogo{
  display: flex;
}
.bannerlogo img{
height: 1.5rem;
margin-left: 2rem;
}
nav span{
padding-right: 1rem;
color: white;
}
.bannerlogo span{
  padding-left: 1rem;
  color: white;
}
.menu{
  display: none;
}
.bannertext{
  margin-top: 9rem;
  display: flex;
  justify-content: flex-end;
}
.bannertext h1{
  background-color: white;
  color: black;
  padding: 3rem;
}
.services{
  display: flex;
  justify-content: center;
}
.service{
  display: flex;
  flex-direction:column;
  margin: 3rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;

}
.service img.paper{
  width: 3.5rem;
  margin-bottom: 1rem;
}
.service img{
  width: 5rem;
}

.contactinfo{
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}

.contactinfo h4{
  background-color: cadetblue;
  padding: .5rem;
  max-width: 12rem;
  color: white;
}
.contactinfo .philosophy p{
  margin-right: 5rem;
}
.container .foot{
  margin-top: 8rem;
  display: flex;
  background-color: azure;
  align-items: center;
  padding: 4rem;
}
.foot img{
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width : 1024px) and (min-width: 768px){
  .container{
    max-width:100%;
  }
  .main-banner{
    height: 22rem;
  }
  .bannerbox{
    top: 0;
  }
  .bannertext{
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .bannertext h1{
    font-size: 1.33rem;
    padding:.75rem 4rem;
  }
  .philosophy{
    margin-left: 4rem;
  }
  .appointments{
    margin-right: 4rem;
  }
  .menu{
    display: none;
  }
}
@media only screen and (max-width: 768px){
  .container{
    width: 100%;
  }
  .bannerbox{
    top:0;
  }
  .main-banner{
    background-position: 20%;
  }
  .main-banner{
    height: 18rem;
  }
  nav span{
    display: none;
  }
  .bannerlogo span{
    display: none;
  }
  .menu{
    display: flex;
    text-align: right;
    margin-right: 2rem;
    color: white;
  }
  .bannertext{
    margin-top: 10rem;
    display: block;
    margin-right: 0;
  }
  .bannertext h1{
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
  }
  .services{
    display: block;
    margin: 3.77rem 0;
  }
  .service{
    margin: 1.54rem 0
  }
  .service div{
    font-size: .77rem;
  }
  .contactinfo{
    display: block;
  }
  .contactinfo h4{
    max-width: 100%;
  }
  .contactinfo p{
    margin-top: 1rem;
    font-size: .77rem;
    margin-bottom: 4rem;
    padding-left: 1rem;
  }
  .container .foot{
    display: block;
    text-align: center;
  }
  .foot h4{
    display: none;
  }
}
